.tori {
  text-align: center;
  border: 1px solid red;
}

input[type=text], select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-left: 40px;
}

.searchText {
  margin-left: 300px;
  margin-right: 10px;
}

button {
  background-color: #0A66C7;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}